<div class="topnav" id="myTopnav">
  <img src="images/logo.png" alt="logo" id="logo">
  <a href="#sobre" class="active">Sobre a intervenção</a>
  <a href="#ranking">Ranking</a>
  <a href="#comparativos">Comparativos</a>
  <div class="dropdown">
    <button class="dropbtn">Pessoas Atingidas
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Agentes de Segurança</a>
      <a href="#">Crianças e Adolescentes</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Disparos e Tiroteios
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Chacinas</a>
      <a href="#">Bala Perdida</a>
      <a href="#">Tiroteios continuos</a>
    </div>
  </div>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
